*
{
    margin: 0;
    padding: 0;
}
video{
		min-width:100%;
		min-height:100%;
		position: absolute;
		bottom: 0;
		right: 0;

	}
.overlay{
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		left:0;
		background-color: rgba(245, 0, 87,.2);
	}
.text{
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		}
